{% extends "base.html" %} {% block container %}

<section class="hero-section">
  <div class="container">
    <img
      src="https://www.bingol.edu.tr/documents/file/bu_BilgolUniverstyLogo/a5png_4bdef62e-b5ca-40b2-b28a-1e23ef74a347-cf10c231-c667-4e4d-9896-40b1f31a0901.png"
      alt=""
    />
    <div class="hero-section-right-area">
      <span class="hero-title">Bingöl Üniversitesi</span>
      <span class="hero-sub-title">Randevu Otomasyonu</span>
      <span class="hero-description"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Error mollitia
        nemo, veritatis quo doloribus porro cupiditate ipsa nisi? Culpa,
        possimus quae. Expedita odio placeat voluptate repudiandae temporibus!
        Reiciendis, dicta? Rerum.</span
      >
      <a href="book-appointment.html">Randevu Al</a>
    </div>
  </div>
</section>
<section class="appointment-list-section">
  <h1>Randevu Al</h1>
  <div class="appointment-container">
    <div class="profile-card">
      <img
        src="https://www.bingol.edu.tr/Documents/file/bb_UniversityUsers/5b54bd4b-70b9-43e9-bbd8-c792e87a3ce8.jpg"
        alt=""
        id="user-profile-image"
      />
      <div class="user-profile">
        <span class="user-name">Öğr. Gör. ERDEM GÖNÜLTAŞ</span>
        <span class="user-about"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit nam
          eaque ratione accusamus autem et vel nisi blanditiis rem. Animi
          mollitia obcaecati asperiores assumenda labore accusantium similique
          sequi autem?</span
        >
        <div class="user-footer">
          <div class="user-email">
            <i class="bi bi-envelope"></i>
            <span>egonultas@bingol.edu.tr</span>
          </div>
          <div class="appointment-detail">
            <i class="bi bi-arrow-right"></i>
            <a href="">Randevu Al</a>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-card">
      <img
        src="https://www.bingol.edu.tr/documents/AssetFiles/MYO-Genc/50792f58-0048-492f-ac03-ae64e669f957.jpg"
        alt=""
        id="user-profile-image"
      />
      <div class="user-profile">
        <span class="user-name">Öğr. Gör. DOYGUN DEMİROL </span>
        <span class="user-about"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit nam
          eaque ratione accusamus autem et vel nisi blanditiis rem. Animi
          mollitia obcaecati asperiores assumenda labore accusantium similique
          sequi autem?</span
        >
        <div class="user-footer">
          <div class="user-email">
            <i class="bi bi-envelope"></i>
            <span> ddemirol@bingol.edu.tr</span>
          </div>
          <div class="appointment-detail">
            <i class="bi bi-arrow-right"></i>
            <a href="">Randevu Al</a>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-card">
      <img
        src="https://www.bingol.edu.tr/Documents/file/bb_UniversityUsers/3931c5d4-4c31-462a-b49c-2a9e526b1a14.jpg"
        alt=""
        id="user-profile-image"
      />
      <div class="user-profile">
        <span class="user-name">Doç. Dr. SERDAL POÇAN</span>
        <span class="user-about"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit nam
          eaque ratione accusamus autem et vel nisi blanditiis rem. Animi
          mollitia obcaecati asperiores assumenda labore accusantium similique
          sequi autem?</span
        >
        <div class="user-footer">
          <div class="user-email">
            <i class="bi bi-envelope"></i>
            <span> spocan@bingol.edu.tr</span>
          </div>
          <div class="appointment-detail">
            <i class="bi bi-arrow-right"></i>
            <a href="">Randevu Al</a>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-card">
      <img
        src="https://www.bingol.edu.tr/documents/AssetFiles/Fakulte-Di%C5%9F/69d03754-2cf5-4cce-ab63-581392808bd9.jpg"
        alt=""
        id="user-profile-image"
      />
      <div class="user-profile">
        <span class="user-name">Öğr. Gör. ERHAN TAŞ</span>
        <span class="user-about"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit nam
          eaque ratione accusamus autem et vel nisi blanditiis rem. Animi
          mollitia obcaecati asperiores assumenda labore accusantium similique
          sequi autem?</span
        >
        <div class="user-footer">
          <div class="user-email">
            <i class="bi bi-envelope"></i>
            <span> erhantas231@hotmail.com</span>
          </div>
          <div class="appointment-detail">
            <i class="bi bi-arrow-right"></i>
            <a href="">Randevu Al</a>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-card">
      <img
        src="https://www.bingol.edu.tr/Documents/file/bb_UniversityUsers/6144bce8-2ccc-4037-bccf-e552a79811bb.jpg"
        alt=""
        id="user-profile-image"
      />
      <div class="user-profile">
        <span class="user-name">Öğr. Gör. SIDDIK YILDIZ</span>
        <span class="user-about"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit nam
          eaque ratione accusamus autem et vel nisi blanditiis rem. Animi
          mollitia obcaecati asperiores assumenda labore accusantium similique
          sequi autem?</span
        >
        <div class="user-footer">
          <div class="user-email">
            <i class="bi bi-envelope"></i>
            <span> syildiz@bingol.edu.tr</span>
          </div>
          <div class="appointment-detail">
            <i class="bi bi-arrow-right"></i>
            <a href="">Randevu Al</a>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-card">
      <img
        src="https://www.bingol.edu.tr/Documents/file/bb_UniversityUsers/a215f9e7-e632-46b0-a113-f7d7b96b4a88.jpeg"
        alt=""
        id="user-profile-image"
      />
      <div class="user-profile">
        <span class="user-name">Öğr. Gör. ABDULKADİR YELMAN </span>
        <span class="user-about"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit nam
          eaque ratione accusamus autem et vel nisi blanditiis rem. Animi
          mollitia obcaecati asperiores assumenda labore accusantium similique
          sequi autem?</span
        >
        <div class="user-footer">
          <div class="user-email">
            <i class="bi bi-envelope"></i>
            <span> ayelman@bingol.edu.tr</span>
          </div>
          <div class="appointment-detail">
            <i class="bi bi-arrow-right"></i>
            <a href="">Randevu Al</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a href="" class="load-more">Daha Fazla</a>
</section>

<section class="contact">
  <h1>Bizimle İletişime Geçin</h1>
  <div class="contact-form">
    <img src="../static/images/contact_us.svg" alt="" />
    <form action="">
      <input type="text" placeholder="Adınız" required />
      <input type="text" placeholder="Soyadınız" required />
      <input type="text" placeholder="E-Mail Adresiniz" required />
      <input type="text" placeholder="Başlık" required />
      <textarea
        name=""
        id=""
        cols="80"
        rows="7"
        placeholder="Mesajınız"
        required
      ></textarea>
      <button>Gönder</button>
    </form>
  </div>
</section>

{% endblock container %}
