{% load static %}

<footer>
  <div class="footer-container">
    <div class="left-menu">
      <img src="{% static 'images/logo.jpg' %}" alt="" />
      <span class="title">Bingöl Üniversitesi</span>
      <span class="description">
        Bingöl Üniversitesi, 29 Mayıs 2007 tarihinde Resmi Gazete'de yayımlanan kanunla kurulan 17 yeni üniversiteden biridir. Kuruluşundan bu yana fakülte, yüksekokul, enstitü ve meslek yüksekokullarıyla hızlı bir gelişim göstermiştir.

        Günümüzde 10 fakülte, 1 yüksekokul, 5 enstitü, 6 meslek yüksekokulu, 21 araştırma merkezi ve 1 laboratuvarıyla eğitim-öğretim faaliyetlerini sürdürmekte olan üniversitemizde; 190 programda toplam 16.518 öğrenciye eğitim verilmektedir.
      </span>
    </div>
    <div class="middle-menu">
      <ul>
        <li><a href="{% url 'index' %}">Ana Sayfa</a></li>
        <li><a href="{% url 'about' %}">Hakkımızda</a></li>
        {% if  user.is_authenticated %}
          <li><a href="">Randevu Al</a></li>
        {% endif %}
        <li><a href="{% url 'contact' %}">İletişim</a></li>
      </ul>
    </div>
    <div class="right-menu">
      <ul>
        <li>
          <a href="https://www.instagram.com/bingoledu2007/"><i class="bi bi-instagram"> </i> <span>Instagram</span></a>
        </li>
       
        <li>
          <a href="https://www.youtube.com/@bingoledu2007"><i class="bi bi-youtube"> </i> <span>YouTube</span></a>
        </li>
       
        <li>
          <a href="https://www.bingol.edu.tr/tr"
            ><i class="bi bi-link"> </i> <span>Resmi Web Sitesi</span></a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="bottom-footer">
    <p>
      &copy; 2024 Bingöl Üniversitesi Genç Meslek Yüksekokulu Bilişim Güvenliği
      Bölümü Tarafınca Yapılan Randevu Otomasyonudur.
    </p>
    <p class="created-by">
      Created by <span class="created">uğur c4lıskan</span>
    </p>
  </div>
</footer>
