{% load static %}
<header>
    <nav class="navbar">
        <div class="navbar-left-menu">
            <img src="{% static "images/logo.jpg" %}" alt="logo" class="navbar-logo" />
            <a href="{% url "about" %}" class="navbar-title">Randevu Otomasyonu</span>
        </div>
        <div class="navbar-right-menu">
            <ul class="navbar-ul">
                <li class="navbar-links"><a href="index.html">Ana Sayfa</a></li>
                <li class="navbar-links"><a href="{% url "about" %}">Hakkımızda</a></li>
                <li class="navbar-links"><a href="contact.html">İletişim</a></li>

                <li class="navbar-links"><a href="appointment-list.html">Randevu Al</a></li>

                <li class="navbar-links login">
                    <a href="login.html">Giriş Yap</a>
                </li>
                <li class="navbar-links"><a href="register.html">Kayıt Ol</a></li>
            </ul>
        </div>
        <li class="dropdown">
            <img src="https://static.vecteezy.com/system/resources/previews/005/005/788/non_2x/user-icon-in-trendy-flat-style-isolated-on-grey-background-user-symbol-for-your-web-site-design-logo-app-ui-illustration-eps10-free-vector.jpg"
                alt="" />
            <a href="#" class="dropbtn">Uğur Ç4lışkan</a>

            <div class="dropdown-content">
                <a href="profile.html">
                    <i class="bi bi-person"></i>
                    <span>Profil</span>
                </a>
                <a href="#">
                    <i class="bi bi-calendar-date"></i>
                    <span>Randevularım</span>
                </a>
                <a href="#">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Çıkış Yap</span>
                </a>
            </div>
        </li>
        <button class="switch">
            <i class="bi bi-brightness-high"></i>
            <i class="bi bi-moon-stars"></i>
        </button>
        <button><i class="bi bi-list mobile-menu-toggle"></i></button>
    </nav>
</header>