{% load static %}
<section class="mobile-menu">
  <div class="container">
    <div class="head">
      <img src="{% static "images/logo.jpg" %}" alt="" />
      <span>Bingöl Üniversitesi</span>
    </div>

    <div class="body">
      <ul>
        <li><a href="index.html">Ana Sayfa</a></li>
        <li><a href="about-us.html">Hakkımızda</a></li>
        <li><a href="contact.html">İletişim</a></li>
        <li><a href="appointment-list.html">Randevu Al</a></li>
        <li><a href="login.html">Giriş Yap</a></li>
        <li><a href="register.html">Kayıt Ol</a></li>
      </ul>
    </div>
    <span class="user-profile">
      <img
        src="https://static.vecteezy.com/system/resources/previews/005/005/788/non_2x/user-icon-in-trendy-flat-style-isolated-on-grey-background-user-symbol-for-your-web-site-design-logo-app-ui-illustration-eps10-free-vector.jpg"
        alt=""
      />
      <a href="#" class="user-name">Ugur Calışkan</a>
    </span>
  </div>
</section>
