{% extends "base.html" %} {% block container %}

<section class="appointment-user-section">
  <span class="appointment-title">Randevularınız</span>

  <div class="table-container">
    <table class="appointment-table">
      <thead>
        <tr>
          <th>Eğitmen</th>
          <th>Randevu Alan</th>
          <th>Randevu Durumu</th>
          <th>Randevu Tarihi</th>
          <th>Randevuyu İptal Et</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Doygun DEMİROL</td>
          <td>Uğur c4lıskan</td>
          <td class="success_text">Onaylandı</td>
          <td>12.04.2024 10:11</td>
          <td>
            <a href="">Randevuyu iptal et</a>
          </td>
        </tr>
        <tr>
          <td>Doygun DEMİROL</td>
          <td>Uğur c4lıskan</td>
          <td>randevu alındı</td>
          <td>12.04.2024 10:11</td>
          <td>
            <a href="#">Randevuyu iptal et</a>
          </td>
        </tr>
        <tr>
          <td>Doygun DEMİROL</td>
          <td>Uğur c4lıskan</td>
          <td class="success_text">Onaylandı</td>
          <td>12.04.2024 10:11</td>
          <td>
            <a href="#">Randevuyu iptal et</a>
          </td>
        </tr>
        <tr>
          <td>Doygun DEMİROL</td>
          <td>Uğur c4lıskan</td>
          <td>randevu alındı</td>
          <td>12.04.2024 10:11</td>
          <td>
            <a href="#">Randevuyu iptal et</a>
          </td>
        </tr>
        <tr>
          <td>Doygun DEMİROL</td>
          <td>Uğur c4lıskan</td>
          <td>randevu alındı</td>
          <td>12.04.2024 10:11</td>
          <td>
            <a href="#">Randevuyu iptal et</a>
          </td>
        </tr>
        <tr>
          <td>Doygun DEMİROL</td>
          <td>Uğur c4lıskan</td>
          <td>randevu alındı</td>
          <td>12.04.2024 10:11</td>
          <td>
            <a href="#">Randevuyu iptal et</a>
          </td>
        </tr>
        <tr>
          <td>Doygun DEMİROL</td>
          <td>Uğur c4lıskan</td>
          <td class="success_text">Onaylandı</td>
          <td>12.04.2024 10:11</td>
          <td>
            <a href="#">Randevuyu iptal et</a>
          </td>
        </tr>
        <tr>
          <td>Doygun DEMİROL</td>
          <td>Uğur c4lıskan</td>
          <td>randevu alındı</td>
          <td>12.04.2024 10:11</td>
          <td>
            <a href="#">Randevuyu iptal et</a>
          </td>
        </tr>
        <tr>
          <td>Doygun DEMİROL</td>
          <td>Uğur c4lıskan</td>
          <td>randevu alındı</td>
          <td>12.04.2024 10:11</td>
          <td>
            <a href="#">Randevuyu iptal et</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="load-more-appointments">Daha eski randevular</button>
</section>

{% endblock container %}
