<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Randevu Otomasyonu | Bingöl Üniversitesi</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="../static/images/logo.jpg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../static/sass/styles.css" />
  </head>
  <body>
    <div class="loader-container">
      <div class="loader"></div> 
    </div>
    <header>
      <nav class="navbar">
        <div class="navbar-left-menu">
          <img src="../static/images/logo.jpg" alt="logo" class="navbar-logo" />
          <span class="navbar-title">Randevu Otomasyonu</span>
        </div>
        <div class="navbar-right-menu">
          <ul class="navbar-ul">
            <li class="navbar-links"><a href="index.html">Ana Sayfa</a></li>
            <li class="navbar-links"><a href="about-us.html">Hakkımızda</a></li>
            <li class="navbar-links"><a href="contact.html">İletişim</a></li>
            <li class="navbar-links"><a href="appointment-list.html">Randevu Al</a></li>
            <li class="navbar-links login">
              <a href="login.html">Giriş Yap</a>
            </li>
            <li class="navbar-links"><a href="register.html">Kayıt Ol</a></li>
          </ul>
        </div>
        <li class="dropdown">
          <img
            src="https://static.vecteezy.com/system/resources/previews/005/005/788/non_2x/user-icon-in-trendy-flat-style-isolated-on-grey-background-user-symbol-for-your-web-site-design-logo-app-ui-illustration-eps10-free-vector.jpg"
            alt=""
          />
          <a href="#" class="dropbtn">Uğur Ç4lışkan</a>

          <div class="dropdown-content">
            <a href="#">
              <i class="bi bi-person"></i>
              <span>Profil</span>
            </a>
            <a href="#">
              <i class="bi bi-calendar-date"></i>
              <span>Randevularım</span>
            </a>
            <a href="#">
              <i class="bi bi-box-arrow-right"></i>
              <span>Çıkış Yap</span>
            </a>
          </div>
        </li>
        <button class="switch">
          <i class="bi bi-brightness-high"></i>
          <i class="bi bi-moon-stars"></i>
        </button>
        <button><i class="bi bi-list mobile-menu-toggle"></i></button>
      </nav>
    </header>
    <section class="mobile-menu">
      <div class="container">
        <div class="head">
          <img src="../static/images/logo.jpg" alt="" />
          <span>Bingöl Üniversitesi</span>
        </div>

        <div class="body">
          <ul>
            <li><a href="index.html">Ana Sayfa</a></li>
            <li><a href="about-us.html">Hakkımızda</a></li>
            <li><a href="contact.html">İletişim</a></li>
            <li><a href="appointment-list.html">Randevu Al</a></li>
            <li><a href="login.html">Giriş Yap</a></li>
            <li><a href="register.html">Kayıt Ol</a></li>
          </ul>
        </div>
        <span class="user-profile">
          <img
            src="https://static.vecteezy.com/system/resources/previews/005/005/788/non_2x/user-icon-in-trendy-flat-style-isolated-on-grey-background-user-symbol-for-your-web-site-design-logo-app-ui-illustration-eps10-free-vector.jpg"
            alt=""
          />
          <a href="#" class="user-name">Ugur Calışkan</a>
        </span>
      </div>
    </section>
    <section class="appointment-list-section">
      <h1>Randevu Al</h1>
      <div class="search-container">
        
        <input type="search" name="" id="search-instructor" placeholder="Eğitmen Ara">
        <select name="" id="academic-departments">
          <option value="">Akademik Birim Seç</option>
          <option value="">Genç Meslek</option>
          <option value="">Genç Meslek</option>
          <option value="">Genç Meslek</option>
          <option value="">Genç Meslek</option>
          <option value="">Genç Meslek</option>
          <option value="">Genç Meslek</option>

        </select>
      
      </div>
      <div class="appointment-container">
        <div class="profile-card">
          <img
            src="https://www.bingol.edu.tr/Documents/file/bb_UniversityUsers/5b54bd4b-70b9-43e9-bbd8-c792e87a3ce8.jpg"
            alt=""
            id="user-profile-image"
          />
          <div class="user-profile">
            <span class="user-name">Öğr. Gör. ERDEM GÖNÜLTAŞ</span>
            <span class="user-about"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit
              nam eaque ratione accusamus autem et vel nisi blanditiis rem.
              Animi mollitia obcaecati asperiores assumenda labore accusantium
              similique sequi autem?</span
            >
            <div class="user-footer">
              <div class="user-email">
                <i class="bi bi-envelope"></i>
                <span>egonultas@bingol.edu.tr</span>
              </div>
              <div class="appointment-detail">
                <i class="bi bi-arrow-right"></i>
                <a href="">Randevu Al</a>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <img
            src="https://www.bingol.edu.tr/documents/AssetFiles/MYO-Genc/50792f58-0048-492f-ac03-ae64e669f957.jpg"
            alt=""
            id="user-profile-image"
          />
          <div class="user-profile">
            <span class="user-name">Öğr. Gör. DOYGUN DEMİROL </span>
            <span class="user-about"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit
              nam eaque ratione accusamus autem et vel nisi blanditiis rem.
              Animi mollitia obcaecati asperiores assumenda labore accusantium
              similique sequi autem?</span
            >
            <div class="user-footer">
              <div class="user-email">
                <i class="bi bi-envelope"></i>
                <span> ddemirol@bingol.edu.tr</span>
              </div>
              <div class="appointment-detail">
                <i class="bi bi-arrow-right"></i>
                <a href="">Randevu Al</a>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <img
            src="https://www.bingol.edu.tr/Documents/file/bb_UniversityUsers/3931c5d4-4c31-462a-b49c-2a9e526b1a14.jpg"
            alt=""
            id="user-profile-image"
          />
          <div class="user-profile">
            <span class="user-name">Doç. Dr. SERDAL POÇAN</span>
            <span class="user-about"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit
              nam eaque ratione accusamus autem et vel nisi blanditiis rem.
              Animi mollitia obcaecati asperiores assumenda labore accusantium
              similique sequi autem?</span
            >
            <div class="user-footer">
              <div class="user-email">
                <i class="bi bi-envelope"></i>
                <span> spocan@bingol.edu.tr</span>
              </div>
              <div class="appointment-detail">
                <i class="bi bi-arrow-right"></i>
                <a href="">Randevu Al</a>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <img
            src="https://www.bingol.edu.tr/documents/AssetFiles/Fakulte-Di%C5%9F/69d03754-2cf5-4cce-ab63-581392808bd9.jpg"
            alt=""
            id="user-profile-image"
          />
          <div class="user-profile">
            <span class="user-name">Öğr. Gör. ERHAN TAŞ</span>
            <span class="user-about"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit
              nam eaque ratione accusamus autem et vel nisi blanditiis rem.
              Animi mollitia obcaecati asperiores assumenda labore accusantium
              similique sequi autem?</span
            >
            <div class="user-footer">
              <div class="user-email">
                <i class="bi bi-envelope"></i>
                <span> erhantas231@hotmail.com</span>
              </div>
              <div class="appointment-detail">
                <i class="bi bi-arrow-right"></i>
                <a href="">Randevu Al</a>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <img
            src="https://www.bingol.edu.tr/Documents/file/bb_UniversityUsers/6144bce8-2ccc-4037-bccf-e552a79811bb.jpg"
            alt=""
            id="user-profile-image"
          />
          <div class="user-profile">
            <span class="user-name">Öğr. Gör. SIDDIK YILDIZ</span>
            <span class="user-about"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit
              nam eaque ratione accusamus autem et vel nisi blanditiis rem.
              Animi mollitia obcaecati asperiores assumenda labore accusantium
              similique sequi autem?</span
            >
            <div class="user-footer">
              <div class="user-email">
                <i class="bi bi-envelope"></i>
                <span> syildiz@bingol.edu.tr</span>
              </div>
              <div class="appointment-detail">
                <i class="bi bi-arrow-right"></i>
                <a href="">Randevu Al</a>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <img
            src="https://www.bingol.edu.tr/Documents/file/bb_UniversityUsers/a215f9e7-e632-46b0-a113-f7d7b96b4a88.jpeg"
            alt=""
            id="user-profile-image"
          />
          <div class="user-profile">
            <span class="user-name">Öğr. Gör. ABDULKADİR YELMAN </span>
            <span class="user-about"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit
              nam eaque ratione accusamus autem et vel nisi blanditiis rem.
              Animi mollitia obcaecati asperiores assumenda labore accusantium
              similique sequi autem?</span
            >
            <div class="user-footer">
              <div class="user-email">
                <i class="bi bi-envelope"></i>
                <span> ayelman@bingol.edu.tr</span>
              </div>
              <div class="appointment-detail">
                <i class="bi bi-arrow-right"></i>
                <a href="">Randevu Al</a>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <img
            src="https://www.bingol.edu.tr/documents/AssetFiles/Fakulte-Di%C5%9F/69d03754-2cf5-4cce-ab63-581392808bd9.jpg"
            alt=""
            id="user-profile-image"
          />
          <div class="user-profile">
            <span class="user-name">Öğr. Gör. ERHAN TAŞ</span>
            <span class="user-about"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit
              nam eaque ratione accusamus autem et vel nisi blanditiis rem.
              Animi mollitia obcaecati asperiores assumenda labore accusantium
              similique sequi autem?</span
            >
            <div class="user-footer">
              <div class="user-email">
                <i class="bi bi-envelope"></i>
                <span> erhantas231@hotmail.com</span>
              </div>
              <div class="appointment-detail">
                <i class="bi bi-arrow-right"></i>
                <a href="">Randevu Al</a>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <img
            src="https://www.bingol.edu.tr/Documents/file/bb_UniversityUsers/6144bce8-2ccc-4037-bccf-e552a79811bb.jpg"
            alt=""
            id="user-profile-image"
          />
          <div class="user-profile">
            <span class="user-name">Öğr. Gör. SIDDIK YILDIZ</span>
            <span class="user-about"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit
              nam eaque ratione accusamus autem et vel nisi blanditiis rem.
              Animi mollitia obcaecati asperiores assumenda labore accusantium
              similique sequi autem?</span
            >
            <div class="user-footer">
              <div class="user-email">
                <i class="bi bi-envelope"></i>
                <span> syildiz@bingol.edu.tr</span>
              </div>
              <div class="appointment-detail">
                <i class="bi bi-arrow-right"></i>
                <a href="">Randevu Al</a>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <img
            src="https://www.bingol.edu.tr/Documents/file/bb_UniversityUsers/a215f9e7-e632-46b0-a113-f7d7b96b4a88.jpeg"
            alt=""
            id="user-profile-image"
          />
          <div class="user-profile">
            <span class="user-name">Öğr. Gör. ABDULKADİR YELMAN </span>
            <span class="user-about"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit
              nam eaque ratione accusamus autem et vel nisi blanditiis rem.
              Animi mollitia obcaecati asperiores assumenda labore accusantium
              similique sequi autem?</span
            >
            <div class="user-footer">
              <div class="user-email">
                <i class="bi bi-envelope"></i>
                <span> ayelman@bingol.edu.tr</span>
              </div>
              <div class="appointment-detail">
                <i class="bi bi-arrow-right"></i>
                <a href="">Randevu Al</a>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <img
            src="https://www.bingol.edu.tr/documents/AssetFiles/Fakulte-Di%C5%9F/69d03754-2cf5-4cce-ab63-581392808bd9.jpg"
            alt=""
            id="user-profile-image"
          />
          <div class="user-profile">
            <span class="user-name">Öğr. Gör. ERHAN TAŞ</span>
            <span class="user-about"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit
              nam eaque ratione accusamus autem et vel nisi blanditiis rem.
              Animi mollitia obcaecati asperiores assumenda labore accusantium
              similique sequi autem?</span
            >
            <div class="user-footer">
              <div class="user-email">
                <i class="bi bi-envelope"></i>
                <span> erhantas231@hotmail.com</span>
              </div>
              <div class="appointment-detail">
                <i class="bi bi-arrow-right"></i>
                <a href="">Randevu Al</a>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <img
            src="https://www.bingol.edu.tr/Documents/file/bb_UniversityUsers/6144bce8-2ccc-4037-bccf-e552a79811bb.jpg"
            alt=""
            id="user-profile-image"
          />
          <div class="user-profile">
            <span class="user-name">Öğr. Gör. SIDDIK YILDIZ</span>
            <span class="user-about"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit
              nam eaque ratione accusamus autem et vel nisi blanditiis rem.
              Animi mollitia obcaecati asperiores assumenda labore accusantium
              similique sequi autem?</span
            >
            <div class="user-footer">
              <div class="user-email">
                <i class="bi bi-envelope"></i>
                <span> syildiz@bingol.edu.tr</span>
              </div>
              <div class="appointment-detail">
                <i class="bi bi-arrow-right"></i>
                <a href="">Randevu Al</a>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <img
            src="https://www.bingol.edu.tr/Documents/file/bb_UniversityUsers/a215f9e7-e632-46b0-a113-f7d7b96b4a88.jpeg"
            alt=""
            id="user-profile-image"
          />
          <div class="user-profile">
            <span class="user-name">Öğr. Gör. ABDULKADİR YELMAN </span>
            <span class="user-about"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit
              nam eaque ratione accusamus autem et vel nisi blanditiis rem.
              Animi mollitia obcaecati asperiores assumenda labore accusantium
              similique sequi autem?</span
            >
            <div class="user-footer">
              <div class="user-email">
                <i class="bi bi-envelope"></i>
                <span> ayelman@bingol.edu.tr</span>
              </div>
              <div class="appointment-detail">
                <i class="bi bi-arrow-right"></i>
                <a href="">Randevu Al</a>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <img
            src="https://www.bingol.edu.tr/documents/AssetFiles/Fakulte-Di%C5%9F/69d03754-2cf5-4cce-ab63-581392808bd9.jpg"
            alt=""
            id="user-profile-image"
          />
          <div class="user-profile">
            <span class="user-name">Öğr. Gör. ERHAN TAŞ</span>
            <span class="user-about"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit
              nam eaque ratione accusamus autem et vel nisi blanditiis rem.
              Animi mollitia obcaecati asperiores assumenda labore accusantium
              similique sequi autem?</span
            >
            <div class="user-footer">
              <div class="user-email">
                <i class="bi bi-envelope"></i>
                <span> erhantas231@hotmail.com</span>
              </div>
              <div class="appointment-detail">
                <i class="bi bi-arrow-right"></i>
                <a href="">Randevu Al</a>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <img
            src="https://www.bingol.edu.tr/Documents/file/bb_UniversityUsers/6144bce8-2ccc-4037-bccf-e552a79811bb.jpg"
            alt=""
            id="user-profile-image"
          />
          <div class="user-profile">
            <span class="user-name">Öğr. Gör. SIDDIK YILDIZ</span>
            <span class="user-about"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit
              nam eaque ratione accusamus autem et vel nisi blanditiis rem.
              Animi mollitia obcaecati asperiores assumenda labore accusantium
              similique sequi autem?</span
            >
            <div class="user-footer">
              <div class="user-email">
                <i class="bi bi-envelope"></i>
                <span> syildiz@bingol.edu.tr</span>
              </div>
              <div class="appointment-detail">
                <i class="bi bi-arrow-right"></i>
                <a href="">Randevu Al</a>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <img
            src="https://www.bingol.edu.tr/Documents/file/bb_UniversityUsers/a215f9e7-e632-46b0-a113-f7d7b96b4a88.jpeg"
            alt=""
            id="user-profile-image"
          />
          <div class="user-profile">
            <span class="user-name">Öğr. Gör. ABDULKADİR YELMAN </span>
            <span class="user-about"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit
              nam eaque ratione accusamus autem et vel nisi blanditiis rem.
              Animi mollitia obcaecati asperiores assumenda labore accusantium
              similique sequi autem?</span
            >
            <div class="user-footer">
              <div class="user-email">
                <i class="bi bi-envelope"></i>
                <span> ayelman@bingol.edu.tr</span>
              </div>
              <div class="appointment-detail">
                <i class="bi bi-arrow-right"></i>
                <a href="">Randevu Al</a>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <img
            src="https://www.bingol.edu.tr/documents/AssetFiles/Fakulte-Di%C5%9F/69d03754-2cf5-4cce-ab63-581392808bd9.jpg"
            alt=""
            id="user-profile-image"
          />
          <div class="user-profile">
            <span class="user-name">Öğr. Gör. ERHAN TAŞ</span>
            <span class="user-about"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit
              nam eaque ratione accusamus autem et vel nisi blanditiis rem.
              Animi mollitia obcaecati asperiores assumenda labore accusantium
              similique sequi autem?</span
            >
            <div class="user-footer">
              <div class="user-email">
                <i class="bi bi-envelope"></i>
                <span> erhantas231@hotmail.com</span>
              </div>
              <div class="appointment-detail">
                <i class="bi bi-arrow-right"></i>
                <a href="">Randevu Al</a>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <img
            src="https://www.bingol.edu.tr/Documents/file/bb_UniversityUsers/6144bce8-2ccc-4037-bccf-e552a79811bb.jpg"
            alt=""
            id="user-profile-image"
          />
          <div class="user-profile">
            <span class="user-name">Öğr. Gör. SIDDIK YILDIZ</span>
            <span class="user-about"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit
              nam eaque ratione accusamus autem et vel nisi blanditiis rem.
              Animi mollitia obcaecati asperiores assumenda labore accusantium
              similique sequi autem?</span
            >
            <div class="user-footer">
              <div class="user-email">
                <i class="bi bi-envelope"></i>
                <span> syildiz@bingol.edu.tr</span>
              </div>
              <div class="appointment-detail">
                <i class="bi bi-arrow-right"></i>
                <a href="">Randevu Al</a>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <img
            src="https://www.bingol.edu.tr/Documents/file/bb_UniversityUsers/a215f9e7-e632-46b0-a113-f7d7b96b4a88.jpeg"
            alt=""
            id="user-profile-image"
          />
          <div class="user-profile">
            <span class="user-name">Öğr. Gör. ABDULKADİR YELMAN </span>
            <span class="user-about"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit
              nam eaque ratione accusamus autem et vel nisi blanditiis rem.
              Animi mollitia obcaecati asperiores assumenda labore accusantium
              similique sequi autem?</span
            >
            <div class="user-footer">
              <div class="user-email">
                <i class="bi bi-envelope"></i>
                <span> ayelman@bingol.edu.tr</span>
              </div>
              <div class="appointment-detail">
                <i class="bi bi-arrow-right"></i>
                <a href="">Randevu Al</a>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <img
            src="https://www.bingol.edu.tr/documents/AssetFiles/Fakulte-Di%C5%9F/69d03754-2cf5-4cce-ab63-581392808bd9.jpg"
            alt=""
            id="user-profile-image"
          />
          <div class="user-profile">
            <span class="user-name">Öğr. Gör. ERHAN TAŞ</span>
            <span class="user-about"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit
              nam eaque ratione accusamus autem et vel nisi blanditiis rem.
              Animi mollitia obcaecati asperiores assumenda labore accusantium
              similique sequi autem?</span
            >
            <div class="user-footer">
              <div class="user-email">
                <i class="bi bi-envelope"></i>
                <span> erhantas231@hotmail.com</span>
              </div>
              <div class="appointment-detail">
                <i class="bi bi-arrow-right"></i>
                <a href="">Randevu Al</a>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <img
            src="https://www.bingol.edu.tr/Documents/file/bb_UniversityUsers/6144bce8-2ccc-4037-bccf-e552a79811bb.jpg"
            alt=""
            id="user-profile-image"
          />
          <div class="user-profile">
            <span class="user-name">Öğr. Gör. SIDDIK YILDIZ</span>
            <span class="user-about"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit
              nam eaque ratione accusamus autem et vel nisi blanditiis rem.
              Animi mollitia obcaecati asperiores assumenda labore accusantium
              similique sequi autem?</span
            >
            <div class="user-footer">
              <div class="user-email">
                <i class="bi bi-envelope"></i>
                <span> syildiz@bingol.edu.tr</span>
              </div>
              <div class="appointment-detail">
                <i class="bi bi-arrow-right"></i>
                <a href="">Randevu Al</a>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <img
            src="https://www.bingol.edu.tr/Documents/file/bb_UniversityUsers/a215f9e7-e632-46b0-a113-f7d7b96b4a88.jpeg"
            alt=""
            id="user-profile-image"
          />
          <div class="user-profile">
            <span class="user-name">Öğr. Gör. ABDULKADİR YELMAN </span>
            <span class="user-about"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit
              nam eaque ratione accusamus autem et vel nisi blanditiis rem.
              Animi mollitia obcaecati asperiores assumenda labore accusantium
              similique sequi autem?</span
            >
            <div class="user-footer">
              <div class="user-email">
                <i class="bi bi-envelope"></i>
                <span> ayelman@bingol.edu.tr</span>
              </div>
              <div class="appointment-detail">
                <i class="bi bi-arrow-right"></i>
                <a href="">Randevu Al</a>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <img
            src="https://www.bingol.edu.tr/documents/AssetFiles/Fakulte-Di%C5%9F/69d03754-2cf5-4cce-ab63-581392808bd9.jpg"
            alt=""
            id="user-profile-image"
          />
          <div class="user-profile">
            <span class="user-name">Öğr. Gör. ERHAN TAŞ</span>
            <span class="user-about"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit
              nam eaque ratione accusamus autem et vel nisi blanditiis rem.
              Animi mollitia obcaecati asperiores assumenda labore accusantium
              similique sequi autem?</span
            >
            <div class="user-footer">
              <div class="user-email">
                <i class="bi bi-envelope"></i>
                <span> erhantas231@hotmail.com</span>
              </div>
              <div class="appointment-detail">
                <i class="bi bi-arrow-right"></i>
                <a href="">Randevu Al</a>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <img
            src="https://www.bingol.edu.tr/Documents/file/bb_UniversityUsers/6144bce8-2ccc-4037-bccf-e552a79811bb.jpg"
            alt=""
            id="user-profile-image"
          />
          <div class="user-profile">
            <span class="user-name">Öğr. Gör. SIDDIK YILDIZ</span>
            <span class="user-about"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit
              nam eaque ratione accusamus autem et vel nisi blanditiis rem.
              Animi mollitia obcaecati asperiores assumenda labore accusantium
              similique sequi autem?</span
            >
            <div class="user-footer">
              <div class="user-email">
                <i class="bi bi-envelope"></i>
                <span> syildiz@bingol.edu.tr</span>
              </div>
              <div class="appointment-detail">
                <i class="bi bi-arrow-right"></i>
                <a href="">Randevu Al</a>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <img
            src="https://www.bingol.edu.tr/Documents/file/bb_UniversityUsers/a215f9e7-e632-46b0-a113-f7d7b96b4a88.jpeg"
            alt=""
            id="user-profile-image"
          />
          <div class="user-profile">
            <span class="user-name">Öğr. Gör. ABDULKADİR YELMAN </span>
            <span class="user-about"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sit
              nam eaque ratione accusamus autem et vel nisi blanditiis rem.
              Animi mollitia obcaecati asperiores assumenda labore accusantium
              similique sequi autem?</span
            >
            <div class="user-footer">
              <div class="user-email">
                <i class="bi bi-envelope"></i>
                <span> ayelman@bingol.edu.tr</span>
              </div>
              <div class="appointment-detail">
                <i class="bi bi-arrow-right"></i>
                <a href="">Randevu Al</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a href="" class="load-more">Daha Fazla</a>
    </section>

    <footer>
      <div class="footer-container">
        <div class="left-menu">
          <img src="../static/images/logo.jpg" alt="" />
          <span class="title">Bingöl Üniversitesi</span>
          <span class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum,
            qui deserunt numquam, totam error magnam dolor neque quo
            repellendus, ipsum quasi enim inventore aliquid modi porro eius
            maxime impedit sed.
          </span>
        </div>
        <div class="middle-menu">
          <ul>
            <li><a href="">Ana Sayfa</a></li>
            <li><a href="">Hakkımızda</a></li>
            <li><a href="">Randevu Al</a></li>
            <li><a href="">İletişim</a></li>
          </ul>
        </div>
        <div class="right-menu">
          <ul>
            <li>
              <a href=""
                ><i class="bi bi-instagram"> </i> <span>Instagram</span></a
              >
            </li>
            <li>
              <a href=""
                ><i class="bi bi-facebook"> </i> <span>Facebook</span></a
              >
            </li>
            <li>
              <a href=""><i class="bi bi-youtube"> </i> <span>YouTube</span></a>
            </li>
            <li>
              <a href=""
                ><i class="bi bi-linkedin"> </i> <span>LinkedIn</span></a
              >
            </li>
            <li>
              <a href=""
                ><i class="bi bi-link"> </i> <span>Resmi Web Sitesi</span></a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="bottom-footer">
        <p>
          &copy; 2024 Bingöl Üniversitesi Genç Meslek Yüksekokulu Bilişim
          Güvenliği Bölümü Tarafınca Yapılan Randevu Otomasyonudur.
        </p>
        <p class="created-by">
          Created by <span class="created">uğur c4lıskan</span>
        </p>
      </div>
    </footer>

    <button class="scroll-to-top">
      <i class="bi bi-arrow-up-short"></i>
    </button>
    <script src="../static/javascript/script.js"></script>
  </body>
</html>
