
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Randevu Otomasyonu | Bingöl Üniversitesi</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link
      rel="shortcut icon"
      href="../static/images/logo.jpg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../static/sass/styles.css" />
  </head>
  <body>
    <div class="loader-container">
      <div class="loader"></div> 
    </div>
    <header>
      <nav class="navbar">
        <div class="navbar-left-menu">
          <img src="../static/images/logo.jpg" alt="logo" class="navbar-logo" />
          <span class="navbar-title">Randevu Otomasyonu</span>
        </div>
        <div class="navbar-right-menu">
          <ul class="navbar-ul">
            <li class="navbar-links"><a href="index.html" >Ana Sayfa</a></li>
            <li class="navbar-links"><a href="" >Hakkımızda</a></li>
            <li class="navbar-links"><a href="contact.html">İletişim</a></li>
            <li class="navbar-links"><a href="appointment-list.html">Randevu Al</a></li>
            <li class="navbar-links"><a href="login.html">Giriş Yap</a></li>
            <li class="navbar-links active"><a href="register.html">Kayıt Ol</a></li>
          </ul>
        </div>

        <button class="switch">
          <i class="bi bi-brightness-high"></i>
          <i class="bi bi-moon-stars"></i>
        </button>
        <button><i class="bi bi-list mobile-menu-toggle"></i></button>
      </nav>
    </header>
    <section class="mobile-menu">
      <div class="container">
        <div class="head">
          <img src="../static/images/logo.jpg" alt="" />
          <span>Bingöl Üniversitesi</span>
        </div>

        <div class="body">
          <ul>
            <li><a href="index.html">Ana Sayfa</a></li>
            <li><a href="about-us.html">Hakkımızda</a></li>
            <li><a href="contact.html">İletişim</a></li>
            <li><a href="appointment-list.html">Randevu Al</a></li>
            <li><a href="login.html">Giriş Yap</a></li>
            <li><a href="register.html">Kayıt Ol</a></li>
          </ul>
        </div>
      </div>
    </section>

    <section class="book-appointment-section">
      <h1 class="appointment-title">Randevu Al</h1>

      <div class="appointment-container">
        <div class="profile">
          <img src="https://www.bingol.edu.tr/Documents/file/bb_UniversityUsers/5b54bd4b-70b9-43e9-bbd8-c792e87a3ce8.jpg" alt="">
          <div class="profile-container">
              <h1 class="profile-name">Öğr. Gör. ERDEM GÖNÜLTAŞ</h1>
              <span class="about">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima impedit possimus eaque aliquid! Magnam illum ipsum reiciendis doloremque ipsa obcaecati repudiandae quia consectetur accusamus, vitae animi, ratione, aut cumque nam. lo0rem
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis quasi asperiores sunt voluptas hic ex dolores enim illum sint dicta explicabo, eos cupiditate saepe eum magnam obcaecati dignissimos accusamus perferendis.
              </span>
              <div class="profile-contact-div">
                <i class="fas fa-envelope"></i>
                <span>egonultas@bingol.edu.tr</span>
              </div>
          </div>
        </div>
        <div class="book-appointment-container">
          <form action="">
            <h1>  Uygun Randevu Tarihleri</h1>
            <select class="appointment-date-select">
              <option value="">Tarih Seçin</option>
              <option value="">10.12.2024</option>
              <option value="">09.11.2024</option>
              <option value="">02.10.2024</option>
            </select>
            <div class="appointment-time-container">
              <button type="button">10.00</button>
              <button type="button">12.00</button>
              <button type="button">09.00</button>
              <button type="button">12.00</button>
              <button type="button">19.00</button>
              <button type="button">10.00</button>
              <button type="button">12.00</button>
              <button type="button">09.00</button>
              <button type="button">12.00</button>
              <button type="button">19.00</button>
              <button type="button">10.00</button>
              <button type="button">12.00</button>
              <button type="button">09.00</button>
              <button type="button">12.00</button>
              <button type="button">19.00</button>
              <button type="button">10.00</button>
              <button type="button">12.00</button>
              <button type="button">09.00</button>
              <button type="button">12.00</button>
              <button type="button">19.00</button>
            </div>
            <button type="submit" class="form-button">Randevu al</button>
          </form>
        </div>
      </div>
    </section>
    
  
    <footer>
      <div class="footer-container">
        <div class="left-menu">
          <img src="../static/images/logo.jpg" alt="" />
          <span class="title">Bingöl Üniversitesi</span>
          <span class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum,
            qui deserunt numquam, totam error magnam dolor neque quo
            repellendus, ipsum quasi enim inventore aliquid modi porro eius
            maxime impedit sed.
          </span>
        </div>
        <div class="middle-menu">
          <ul>
            <li><a href="">Ana Sayfa</a></li>
            <li><a href="">Hakkımızda</a></li>
            <li><a href="">Randevu Al</a></li>
            <li><a href="">İletişim</a></li>
          </ul>
        </div>
        <div class="right-menu">
          <ul>
            <li>
              <a href=""
                ><i class="bi bi-instagram"> </i> <span>Instagram</span></a
              >
            </li>
            <li>
              <a href=""
                ><i class="bi bi-facebook"> </i> <span>Facebook</span></a
              > 
            </li>
            <li>
              <a href=""><i class="bi bi-youtube"> </i> <span>YouTube</span></a>
            </li>
            <li>
              <a href=""
                ><i class="bi bi-linkedin"> </i> <span>LinkedIn</span></a
              >
            </li>
            <li>
              <a href=""
                ><i class="bi bi-link"> </i> <span>Resmi Web Sitesi</span></a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="bottom-footer">
        <p>
          &copy; 2024 Bingöl Üniversitesi Genç Meslek Yüksekokulu Bilişim
          Güvenliği Bölümü Tarafınca Yapılan Randevu Otomasyonudur.
        </p>
        <p class="created-by">Created by <span class="created">uğur c4lıskan</span></p>
      </div>
    </footer>

    <button class="scroll-to-top">
      <i class="bi bi-arrow-up-short"></i>
    </button>
    <script src="../static/javascript/script.js"></script>
  </body>
</html>
