<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Randevu Otomasyonu | Bingöl Üniversitesi</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link
      rel="shortcut icon"
      href="../static/images/logo.jpg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../static/sass/styles.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="navbar-left-menu">
          <img src="../static/images/logo.jpg" alt="logo" class="navbar-logo" />
          <a href="index.html" class="navbar-title">Randevu Otomasyonu</span>
        </div>
        <div class="navbar-right-menu">
          <ul class="navbar-ul">
            <li class="navbar-links"><a href="index.html" >Ana Sayfa</a></li>
            <li class="navbar-links"><a href="about-us.html" >Hakkımızda</a></li>
            <li class="navbar-links"><a href="contact.html">İletişim</a></li>
            <li class="navbar-links"><a href="appointment-list.html">Randevu Al</a></li>
            <li class="navbar-links"><a href="login.html">Giriş Yap</a></li>
            <li class="navbar-links active"><a href="register.html">Kayıt Ol</a></li>
          </ul>
        </div>

        <button class="switch">
          <i class="bi bi-brightness-high"></i>
          <i class="bi bi-moon-stars"></i>
        </button>
        <button><i class="bi bi-list mobile-menu-toggle"></i></button>
      </nav>
    </header>
    <section class="mobile-menu">
      <div class="container">
        <div class="head">
          <img src="../static/images/logo.jpg" alt="" />
          <span>Bingöl Üniversitesi</span>
        </div>

        <div class="body">
          <ul>
            <li><a href="index.html">Ana Sayfa</a></li>
            <li><a href="about-us.html">Hakkımızda</a></li>
            <li><a href="contact.html">İletişim</a></li>
            <li><a href="appointment-list.html">Randevu Al</a></li>
            <li><a href="login.html">Giriş Yap</a></li>
            <li><a href="register.html">Kayıt Ol</a></li>
          </ul>
        </div>
      </div>
    </section>

    <section class="password-reset-section">
        <h1 class="password-reset-title">Parola Sıfırlama</h1>
        <div class="password-reset-container">
            <img src="../static/images/reset-password.svg" alt="" width="400">
            <div class="password-reset-right-container">
                <h1>Parolanızı Sıfırlayın</h1>
                <span>Hesabınızla ilişkilendirilmiş e-posta adresinizi girin ve şifre sıfırlama bağlantısını alın.</span>

                <form action="">
                    <div class="input-container">
                        <i class="fas fa-envelope"></i>
                        <input type="text" name="" id="" placeholder="Email Adınız">
                    </div>
                   
                    <button>Şifre Sıfırla</button>
                 
                </form>
            
            </div>
            
        </div>

    </section>
    
  
    <footer>
      <div class="footer-container">
        <div class="left-menu">
          <img src="../static/images/logo.jpg" alt="" />
          <span class="title">Bingöl Üniversitesi</span>
          <span class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum,
            qui deserunt numquam, totam error magnam dolor neque quo
            repellendus, ipsum quasi enim inventore aliquid modi porro eius
            maxime impedit sed.
          </span>
        </div>
        <div class="middle-menu">
          <ul>
            <li><a href="">Ana Sayfa</a></li>
            <li><a href="">Hakkımızda</a></li>
            <li><a href="">Randevu Al</a></li>
            <li><a href="">İletişim</a></li>
          </ul>
        </div>
        <div class="right-menu">
          <ul>
            <li>
              <a href=""
                ><i class="bi bi-instagram"> </i> <span>Instagram</span></a
              >
            </li>
            <li>
              <a href=""
                ><i class="bi bi-facebook"> </i> <span>Facebook</span></a
              > 
            </li>
            <li>
              <a href=""><i class="bi bi-youtube"> </i> <span>YouTube</span></a>
            </li>
            <li>
              <a href=""
                ><i class="bi bi-linkedin"> </i> <span>LinkedIn</span></a
              >
            </li>
            <li>
              <a href=""
                ><i class="bi bi-link"> </i> <span>Resmi Web Sitesi</span></a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="bottom-footer">
        <p>
          &copy; 2024 Bingöl Üniversitesi Genç Meslek Yüksekokulu Bilişim
          Güvenliği Bölümü Tarafınca Yapılan Randevu Otomasyonudur.
        </p>
        <p class="created-by">Created by <span class="created">uğur c4lıskan</span></p>
      </div>
    </footer>
    <button class="scroll-to-top">
      <i class="bi bi-arrow-up-short"></i>
    </button>
    <script src="../static/javascript/script.js"></script>
  </body>
</html>
