{% load static %}

{% extends "base.html" %} {% block container %}
<section class="login-section">
  <h1 class="login-title">Giriş Yap</h1>
  <div class="login-container">
    <img src="../static/images/login.svg" alt="" width="400" />
    <div class="login-right-container">
      <h1>Başlamak İçin Giriş Yapın</h1>
      <span>Giriş yapın ve başlayın</span>

      <form action="">
        <div class="input-container">
          <i class="fas fa-user"></i>
          <input type="text" name="" id="" placeholder="Kullanıcı Adınız" />
        </div>
        <div class="input-container">
          <i class="fas fa-lock"></i>
          <input
            type="password"
            id="password"
            placeholder="Şifrenizi girin"
            required
          />
        </div>
        <button>Giriş Yap</button>
        <div class="form-footer">
          <a href="password-reset.html" class="forgot-password"
            >Şifrenizi sıfırlamak için tıklayın</a
          >

          <a href="register.html" class="register"
            >Hesabınız yok mu? Kayıt olun</a
          >
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock container %}
