{% extends "base.html" %}

{% load static %}

{% block container %}

<section class="password-reset-section">
  <h1 class="password-reset-title">Parola Sıfırlama</h1>
  <div class="password-reset-container">
    <img src="../static/images/reset-password.svg" alt="" width="400" />
    <div class="password-reset-right-container">
      <h1>Parolanızı Sıfırlayın</h1>
      <span
        >Hesabınızla ilişkilendirilmiş e-posta adresinizi girin ve şifre
        sıfırlama bağlantısını alın.</span
      >

      <form action="">
        <div class="input-container">
          <i class="fas fa-envelope"></i>
          <input type="text" name="" id="" placeholder="Email Adınız" />
        </div>

        <button>Şifre Sıfırla</button>
      </form>
    </div>
  </div>
</section>

{% endblock container %}
